.generate-activation-code {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    .activation-code-container {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .bottom {
      margin-top: auto;
    }
  }
  