@import "~taro-ui/dist/style/components/swipe-action.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/card.scss";

.add-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-chapter {
  .chapter-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;

    .chapter-card {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }

    .chapter-video {
      width: 100%;
      height: 200px;
    }

    .delete-button {
      background-color: #ff4949;
      color: #fff;
      width: 100%;
      margin-top: 10px;
    }
  }
}
